
/* Générale */
*{
    margin: 0;
    padding: 0;
}





/* ------------------------------  */

header{
    width: 100%;
    height: 25vh;
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .box-header{
    width: 100%;
    height: 5vh;
    background: black;
   
}


.container{
    display: flex;
    flex-wrap: wrap;
}

.container .box1 , .box2 , .box3, .box4 , .box5 {
    width: 33.33%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1{
    background: orange;
}

.box2{
    background: violet;
}  

.box3{
    background: tomato;
} 

.box4{
    background: aqua;
    width: 100%;
    height: 10vh;
} 

.box5{
    background: lawngreen;
    width: 100%;
    height: 30vh;   
}





/* Responsive TABLET width = 760px */

@media screen and (max-width:1024px){
    
    .container{
        flex-wrap: wrap-reverse;
    }
   
    .container .box1 , .box2 , .box3, .box4 {
        width: 50%;
        height: 20vh;
    }

    .container .box5{
        order: -1;

    }

    .container .box4{
        order: 2;
    }

    .container .box3{
        order: 3;
    }
}


/* Responsive MOBILE width = 414px */
@media screen and (max-width:414px){

    .container {
        flex-wrap: none;
        flex-direction: column;
    } 

    .container .box1 , .box2 , .box3, .box4 {
        width: 100%;
        height: 10vh;  
    }

    .container .box1{
        order: 2 ;

    }
    .container .box2{
        order:4 ;
    }

    .container .box3{
        order:3 ;
    }

    .container .box4{
        order: 1;
    }  
}

/*  Pour la prochaine fois pense à mieux nomé mes box et utliser des ID */


